@import '../../styles/variables.scss';

.record {
    height: 6rem;
    width: 98%;
    display: flex;
    box-shadow: $color-black 2px 1px 15px -3px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 10rem;
    padding-right: 1rem;
    margin: 0.75rem auto 0.75rem auto;

    &__category {
        height: 100%;
        border-radius: 10rem;
        font-size: 1.4rem;
        width: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    &__date {
        margin-right: 1.5rem;
    }

    &__amount {
        font-weight: 600;
        width: 14.5rem;
        text-align: center;
        &-income {
            color: $color-green;
        }

        &-spendings {
            color: $color-red;
        }
    }

    &__icon {
        height: 2.5rem;
    }

    &__link {
        height: 2.5rem;
    }

}