@import '../../styles/variables.scss';

.income {
    background: $color-primary;
    display: flex;
    color: $color-text-primary;
    justify-content: space-around;
    align-items: center;
    position: relative;

    &__section {
        height: 80vh;
        width: calc((100vw - 20vw)/3);
        box-shadow: $color-black 2px 1px 15px -3px;
        border-radius: 5rem;
        padding: 1rem;
    }

    &__category {
        height: 80vh;
        width: calc((100vw - 35vw)/3);
    }
    
    &__record {
        height: 80vh;
        width: calc((100vw - 20vw)/3);
    }

    &__add-button {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
    }
}