$color-text-primary: #fff;
$color-primary: #101010;
$color-secondary: #FF7121;
$color-third: #FF3D00;
$color-fourth: #FF7A00;
$color-black: #000;
$color-red: #ff2222; //#FF5858
$color-blue: #3F8CFF;

$color-green: #00FF19;

$font-primary: 'Montserrat', sans-serif;