@import '../../styles/variables.scss';
@import '../../styles//buttons.scss';

.landingpage {
    background: $color-primary;
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 3;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
    }

    &__image {
        height: 80vh;
    }

    &__header {
        font-size: 11rem;
        line-height: 1.2;
        width: 75rem;
        color: $color-text-primary; 
    }

    &__icon-arrow {
        height: 3rem;
        margin-left: 1rem;
    }

 
}