@import './styles/variables.scss';

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
    font-family: $font-primary;
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    color: $color-black;
    text-rendering: optimizeLegibility;
}

.app {
    display: grid;
    grid-template-columns: 14vw 86vw;

    &__content {
        grid-column: 2 / 3;
    }
}

